<div class="row">
  <div class="col-3" id="pdfWrapper">
    <div class="fixme" id="pdfScroll"><!-- add pdf-works when scrolling -->
      <% @pdf_categories.each do |cat| %>
        <div class="pdf-cat-inner"">
          <%= link_to cat.title, show_this_pdf_category_path(cat.friendly_id),
            class: "nav-link #{'active' if @pdf_cat.id == cat.id}" %>
        </div>
      <% end %>
      <br>
      <br>
        <div class="pdf-cat-inner"">
          <%= link_to "Til andres tekster &#8594;".html_safe, artikler_path(), class: "nav-link" %>

        </div>
    </div>
  </div>
<hr>
<% unless @pdfs.blank? 	%>
  <div class="col-9 row">
  <%= content_tag :h2, @cat_headline, class: "col-12 py-4 text-center" unless @cat_headline.nil? %>
    <%= render partial: "pdf", collection: @pdfs %>
  </div>
<% end %> 
</div><!-- container -->
  <script>
var fixmeTop = $('.fixme').offset().top;       // get initial position of the element
$(window).scroll(function() {                  // assign scroll event listener
    var currentScroll = $(window).scrollTop() + 18; // get current position
    if (currentScroll >= fixmeTop) {           // apply position: fixed if you
    width = $("#pdfWrapper").width();
    left = $("#pdfWrapper").offset().left;
      $('.fixme').css({                      // scroll to that element or below it
          position: 'fixed',
          top: '18px',
          left: left + 'px',
          width: width + 'px'
      });
    } else {                                   // apply position: static
      $('.fixme').css({                      // if you scroll above it
          position: 'static'
      });
    }

});</script>
