<div class="row">
	<% @pdf_categories.each do |cat| %>
	<div class="col-md-6 col-sm-4 pdf-cat ">
		<%= link_to show_this_pdf_category_path(cat.id), remote: true do %>
		<h4 class="text-center"><%= cat.title %></h4>
		<% end %>
	</div>

	<% end %>

	<div class="col-sm-12"></div>
	<div class="pdf-works row">
		<%= render partial: "pdf", collection: @pdfs %>
	</div>

</div><!-- row -->

