<% content_for :custom_calls do %>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
												integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
						crossorigin=""/>

	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
		integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
	 crossorigin=""></script>

<% end %>
<h2 class="py4 text-center">Danmarkskort</h2>
<%= hidden_field_tag :email, "peter@hej.com" %>
<div id="danmarkskort">

</div>

<script>

	var work_id = decodeURIComponent((new RegExp('[?|&]' + "id" + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;

var map_data = <%= @json_data.html_safe %>;
var mymap = L.map('danmarkskort', {
	scrollWheelZoom: false // Så man ikke kan scrolle med musen!
}).setView([55.861948, 10.624085], 7.6);

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	maxZoom: 18,
	id: 'mapbox.streets',
	accessToken: 'pk.eyJ1IjoicGV0ZXJob2VqbHVuZCIsImEiOiJjamM2YnRmOWYxZjdnMzNtbWdkYnJyZHpuIn0.YA23PjVD-QDVseZEEVTflQ'
}).addTo(mymap);

var geoJSONLayers = L.geoJSON(map_data, { }).addTo(mymap);

if (work_id) {
	geoJSONLayers.bindPopup(function (layer) {
		link = (layer.feature.properties.link != null) ? "<br><a href='" + layer.feature.properties.link + "'>Gå til</a>" : ""
		sagsnr = (layer.feature.properties.sagsnr != null) ? "<br>Sagsnr: " + layer.feature.properties.sagsnr : ""
		return "<h3 class='min-popup-" + layer.feature.properties.id + "'>" + layer.feature.properties.title + "</h3>"
			+ "<p>" + layer.feature.properties.description + "<br>" + 
			"Adresse: " + layer.feature.properties.address +  sagsnr + "<br>"
			+ link + "</p>";
	}).openPopup().addTo(mymap);
} else {
	geoJSONLayers.bindPopup(function (layer) {
		link = (layer.feature.properties.link != null) ? "<br><a href='" + layer.feature.properties.link + "'>Gå til</a>" : ""
		sagsnr = (layer.feature.properties.sagsnr != null) ? "<br>Sagsnr: " + layer.feature.properties.sagsnr : ""
		return "<h3 class='min-popup-" + layer.feature.properties.id + "'>" + layer.feature.properties.title + "</h3>"
			+ "<p>" + layer.feature.properties.description + "<br>" + 
			"Adresse: " + layer.feature.properties.address +  sagsnr + "<br>"
			+ link + "</p>";
	}).addTo(mymap);
}

</script>
