<% content_for :custom_calls do %>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css"
												integrity="sha512-M2wvCLH6DSRazYeZRIm1JnYyh22purTM+FDB5CsyxtQJYeKq83arPe5wgbNmcFXGqiSH2XR8dT/fJISVA1r/zQ=="
						crossorigin=""/>

	<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"
		integrity="sha512-lInM/apFSqyy1o6s89K4iQUKg6ppXEgsVxT35HbzUupEVRh2Eu9Wdl4tHj7dZO0s1uvplcYGmt3498TtHq+log=="
	 crossorigin=""></script>

<% end %>
<h2 class="py4 text-center">Danmarkskort</h2>
<%= hidden_field_tag :email, "peter@hej.com" %>
<div id="danmarkskort">

</div>

<script>

	var map_data = <%= @data.html_safe %>;
debugger;
var mymap = L.map('danmarkskort').setView([55.861948, 10.624085], 7.4);

L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
	maxZoom: 18,
	id: 'mapbox.streets',
	accessToken: 'pk.eyJ1IjoicGV0ZXJob2VqbHVuZCIsImEiOiJjamM2YnRmOWYxZjdnMzNtbWdkYnJyZHpuIn0.YA23PjVD-QDVseZEEVTflQ'
}).addTo(mymap);

L.geoJSON(map_data, {
	style: function (feature) {
		return {color: feature.properties.color};
	}
}).bindPopup(function (layer) {
	return "<b>" + layer.feature.properties.name + "</b>" + "<br>" + layer.feature.properties.description;
}).addTo(mymap);


</script>
