<div class="indexwrapper">
	<div class="indexbackground">
	</div>
	<div class="indexareatext">
		<div class="left leftindex">
			<h4 class="text-center">Arkitekterne</h4>
			<h1 class="text-center">Inger og Johannes Exner</h1>
		</div>
		<div class="left middleindex">

		<% if @text.nil? %>
			<%= link_to "Opret tekst", ny_forside_tekst_path(), class: "btn btn-secondary" if logged_in?(:site_admin) %>
		<% else %>
			<%= link_to "Rediger teksten", rediger_forside_tekst_path(@text.id), class: "btn btn-secondary" if logged_in?(:site_admin) %>
			<%= simple_format(@text.text) %>

		<% end %> 
		</div>

			<div class="left rightindex">
				<%= link_to oversigt_path do %>
				<div data-toggler data-animate="fade-in fade-out" class="button"><span class="kunpaamobilskaerm">Gå videre til oversigt</span></div>
				<% end %>
			</div>
	</div>
</div>	
