<h2> Cookie- og privatlivspolitik </h2>

<br>
<br>
<h3> Introduktion </h3>

<p>
  Når du besøger vores website indsamles der oplysninger om dig. Hvis du ikke ønsker, at der indsamles oplysninger, bør du slette dine cookies (<a href="http://minecookies.org/cookiehandtering/" target="_blank">se vejledning</a>) og undlade videre brug af websitet. Nedenfor har vi uddybet, hvilke informationer der indsamles, deres formål og hvilke tredjeparter, der har adgang til dem.
</p>

<br>
<br>
<h3> Cookies </h3>

<p>
  Websitet anvender ”cookies”, der er en tekstfil, som gemmes på din computer, mobil el. tilsvarende. Cookies kan ikke indeholde skadelig kode som f.eks. virus.
</p>

<p>
  Det er muligt at slette eller blokere for cookies. Se vejledning: <a href="http://minecookies.org/cookiehandtering">http://minecookies.org/cookiehandtering</a>
</p>

<p>
  Websitet indeholder cookies fra tredjeparter, der i varierende omfang kan omfatte. 
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Cookiens navn</th>
      <th scope="col">Udløbstid</th>
      <th scope="col">Funktion</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td> _ga	</td>
      <td> 2 years	</td>
      <td> Used to distinguish users.  </td>
    </tr>
    <tr>
      <td> _gid	</td>
      <td>24 hours</td>
      <td> Used to distinguish users.  </td>
    </tr>
    <tr>
      <td> _gat	</td>
      <td>1 minute</td>
      <td> Used to throttle request rate.  </td>
    </tr>
  </tbody>
</table>
<i>Informationerne er hentet på <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Google Developer</a></i>

<br>
<br>
<br>
<br>
<h3> Generelt </h3>

<p>
  Personoplysninger er alle slags informationer, der i et eller andet omfang kan henføres til dig. Når du benytter vores website indsamler og behandler vi en række sådanne informationer. Det sker f.eks. ved alm. tilgang af indhold.
</p>

<p>
  Vi indsamler og behandler typisk følgende typer af oplysninger: Et unikt ID og tekniske oplysninger om din computer, tablet eller mobiltelefon, dit IP-nummer, geografisk placering, samt hvilke sider du klikker på (interesser).
</p>

<br>
<br>
<h3> Sikkerhed </h3>

<p>
  Vi har truffet tekniske og organisatoriske foranstaltninger mod, at dine oplysninger hændeligt eller ulovligt bliver slettet, offentliggjort, fortabt, forringet eller kommer til uvedkommendes kendskab, misbruges eller i øvrigt behandles i strid med lovgivningen.
</p>

<br>
<br>
<h3> Periode for opbevaring </h3>

<p>
  Oplysningerne opbevares i det tidsrum, der er tilladt i henhold til lovgivningen, og vi sletter dem, når de ikke længere er nødvendige. Perioden afhænger af karakteren af oplysningen og baggrunden for opbevaring. Det er derfor ikke muligt at angive en generel tidsramme for, hvornår informationer slettes.
</p>

<br>
<br>
<h3>
  Videregivelse af oplysninger
</h3>

<p>
  Data om din brug af websitet, hvilke annoncer, du modtager og evt. klikker på, geografisk placering, køn og alderssegment m.v. videregives til tredjeparter i det omfang disse oplysninger er kendt. Du kan se hvilke tredjeparter, der er tale om, i afsnittet om ”Cookies” ovenfor.
</p>

<p>
  Vi benytter herudover en række tredjeparter til opbevaring og behandling af data. Disse behandler udelukkende oplysninger på vores vegne og må ikke anvende dem til egne formål.
</p>

<br>
<br>
<h3> Indsigt og klager </h3>

<p>
  Du har ret til at få oplyst, hvilke personoplysninger, vi behandler om dig. Du kan desuden til enhver tid gøre indsigelse mod, at oplysninger anvendes. Du kan også tilbagekalde dit samtykke til, at der bliver behandlet oplysninger om dig. Hvis de oplysninger, der behandles om dig, er forkerte har du ret til at de bliver rettet eller slettet. Henvendelse herom kan ske til: kontakt@hilsen.it. Hvis du vil klage over vores behandling af dine personoplysninger, har du også mulighed for at tage kontakt til Datatilsynet.
</p>

<br>
<br>
<p>
  Hjemmesidens ansvarlige er:<br>
  
  Hilsen IT <br>
  Telefon: 42645898 <br>
  Email: kontakt@hilsen.it <br>
</p>
