<style>
	.row {
		width: 100%;
		position: absolute;
		left: 50%;
		top: 30%;
		width: 400px;
		margin-left: -200px;
		height: 300px;
	}
	.text-center {
		text-align: center;
	}
</style>
<div class="row">
<div class="offset-2 col-8">
	<h1 class="pt-4 text-center">Siden er under ombygning og åbner mandag <br>d. 15/1 2018</h1>
	<h2 class="pt-4 text-center">Vi glæder os til at vise dig mere</h2>
</div>
</div>
