<div class="blog-masthead admin-nav">
  <div class="container">
    <nav class="nav blog-nav">
    	<%= link_to "Opret ny kategori", new_category_path, class: "nav-links btn btn-secondary" %>
    	<%= link_to "Opret nyt værk", new_work_path, class: "nav-links btn btn-secondary" %>
    </nav>
  </div>
</div>

