<div class="image-info">
	<% unless description.nil? %>
		<%= content_tag :div, description, class: "img-desc d-ib", id: "imgDesc" unless description.empty? %>    
	<% end %>
	<% unless photographer.nil? %>
	<!-- FJERNET INDTIL KAREN SIGER TIL -->
		<%# content_tag :div, "Fotograf: " + photographer, class: "img-desc d-ib", id: "imgPhoto" unless photographer.empty? %>    
	<% end %>
</div>