<div class="image-info">
<%= content_tag :div, "Billedebeskrivelse: " + description, class: "img-desc d-ib", id: "imgDesc" unless description.empty? %>    
<%= content_tag :div, "Fotograf: " + photographer, class: "img-desc d-ib", id: "imgPhoto" unless photographer.empty? %>    
</div>