 	<span id="InfoTriangle"></span> 
<% img_cats.each_with_index do |img_nav_cat, index| %>
	<% num = img_cat_col_helper(@image_categories.length) %>
	<%= content_tag :div, img_nav_cat.name, class: "nav-link sortable-image-item text-center col-md-#{num} #{"active-cat" if index == 0}", data: { id: img_nav_cat.id, type: img_nav_cat.class.to_s } %>
<% end %>
