<div class="blog-masthead work-navbar-outer">
	<div class="nav-container container">
		<nav class="nav work-navbar">
			<% num = img_cat_col_helper(image_categories.length) %>
			<% image_categories.each_with_index do |img_cat, index| %>
			<%= content_tag :div, img_cat.name, 
							class: "nav-link text-center img-cat-nav col-md-#{num} #{"active" if index == 0}", data: { divid: img_cat.id} %>
			<% end %>
			<div class="info-button">
			 Info
			</div>
		</nav>
	</div>
</div>

