<div class="vertical-center">
	<div class="image-desc-wrapper loading">
	
	</div>
	<%= image_tag "arrow-left", class: "work-arrows", id: "leftArrow" %>
	<%= image_tag "arrow-right", class: "work-arrows", id: "rightArrow" %>

</div>