<% image_categories.each_with_index do |img_cat, index| %>
<div class="container-fluid thumbnail-container sortable-images <%= "hide-it" unless index == 0 %> <%= img_cat.name.parameterize %> <%= img_cat.id %>">
	<% img_cat.images.each do |image| %>

		<%= image_tag(image.image.thumb.url, id: image.id, class: "col-lg-2 col-md-4 col-sm-6 thumbnaildiv sortable-image-item", data: { largeimage: image.image.url, id: image.id }) %><!-- URL for det store billede bliver gemt i largeimage -->
	<% end %>
</div> <!-- thumbnail-container -->
<% end %>
