<%= link_to work_path(work) do %>
<div class="col-md-3">

	<% unless work.overview_img.file.nil? %>
		<%= image_tag(work.overview_img.url)%>
	<% else %>

	<% end %>

	<h6 class="text-center"><%= work.name %></h6>
</div>
<% end %>