<%= link_to work_path(work) do %>
<div class="col-md-3">

	<% if work.images[0] %>
	<%= image_tag(work.images[0].image.thumb.url)%>
	<% end %>

	<h6 class="text-center"><%= work.name %></h6>
</div>
<% end %>