<% content_for :padding_top_container, "false" %>
<%= render partial: 'about/pagination',
	locals: { prev: { title: @prev_work.name, path: "work_path('#{@prev_work.slug}')"},
									 next_w: { title: @next_work.name, path: "work_path('#{@next_work.slug}')"} }  %>
					

<h1 class="text-center"><%= @work.name %></h1>
<%= logged_in_work_helper if logged_in?(:site_admin) %>
<div class="row mt-4">
	<div class="offset-lg-2 col-lg-8">
		<p><%= @work.description %></p>
	</div>
</div>

