  <div class="col-lg-12 text-center masthead-overskrift">
    <%= link_to root_path do %>
    <div class="h4 masthead-overskrift">Arkitekterne</div><div class="h1 masthead-overskrift">Inger og Johannes Exner</div>
    <% end %>
  </div>
