<div class="blog-nav-wrapper">
  <nav class="blog-nav">
    <span class="menu-button" data-button="menu">Menu</span>
    <%= render partial: 'shared/breadcrumbs',
      locals: {title_par: @breadcrumb_parent, title_child: @breadcrumb_child } %>
  </nav>
  <nav class="blog-nav-dropdown hide-it" data-dropdown="menu">
    <% if params[:controller] == "categories" %><!-- hvis det er oversigtssiden, som bliver vist -->
      <%= render partial: 'shared/oversigt_menu' %>
    <% else %>
      <%= render partial: 'shared/normal_menu' %>
    <% end %>
  </nav>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("[data-button='menu']").click(function () {
		$(this).toggleClass("active");
    $("[data-dropdown='menu']").slideToggle(400);
  });
  });
</script>
