<div class="blog-masthead">
  <div class="nav-container container">
    <nav class="nav blog-nav">
    <%= link_to "Oversigt", oversigt_path, class: "nav-link #{active_helper? oversigt_path}" %>
    <% categories.each do |cat| %>
    <%= link_to cat.name, kategori_oversigt_path(cat), class: "nav-link #{active_helper? kategori_oversigt_path(cat)}" %>
    <% end %>
    <%= link_to "Johannes' tekster", nil, class: "nav-link" %>
    <%= link_to "Om", om_path, class: "nav-link #{active_helper? om_path}" %>
    </nav>
  </div>
</div>
