<div class="blog-masthead">
  <div class="nav-container container">
    <nav class="nav blog-nav">
    <%= link_to "Oversigt", oversigt_path, class: "nav-link" %>
    <% categories.each do |cat| %>
    <%= link_to cat.name, kategori_oversigt_path(cat), class: "nav-link active" %>
    <% end %>
    </nav>
  </div>
</div>
