.next-prev-back-wrapper {
  font-family: Corbel;
  text-transform: uppercase;
}

.pagination-arrows {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 16px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 0px 4px;
}

.prev-work {
  background-image: url(image-path("arrow-left"));
}
.next-work {
  background-image: url(image-path("arrow-right"));
}

.work-arrows {
  z-index: 9999999;
  position: absolute;
  cursor: pointer;
  top: 45%;
  margin-top: -75px;
}

#leftArrow {
  width: 130px;
  height: 130px;
  background-image: url(image-path("arrow-left"));
}
#rightArrow {
  width: 130px;
  height: 130px;
  background-image: url(image-path("arrow-right"));
}
.large-arrow-right {
	right: -74px;
	background-position: -90px;
}

.large-arrow-left {
	left: -74px;
	background-position: 90px;
}
