@font-face {
	font-family: 'Linux Libertine C';
	src: url('LinLibertineC.eot');
	src: url('LinLibertineC.eot?#iefix') format('embedded-opentype'),
		url('LinLibertineC.woff') format('woff'),
		url('LinLibertineC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Corbel';
	src: url('Corbel.eot');
	src: url('Corbel.eot?#iefix') format('embedded-opentype'),
		url('Corbel.woff') format('woff'),
		url('Corbel.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LinLibertine';
	src: url('LinLibertine.eot');
	src: url('LinLibertine.eot?#iefix') format('embedded-opentype'),
		url('LinLibertine.woff') format('woff'),
		url('LinLibertine.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Corbel;
  letter-spacing: 2px;
  text-transform: uppercase;
}

h1 {
  font-size: 20.8px!important;
  padding-top: 35px!important;
}
h2 {
  font-size: 16px!important;
}
h3 {
  font-size: 12.8px!important;
}
h4 {
  font-size: 11.2px!important;
}
p {
  font-family: "LinLibertine";
}

/* Navbar overwriting bootstrap default */
a {
  color: black;
  &:hover {
    color: black;
  }
}

.nav-link:hover {
  text-decoration: underline;
}
