<div class="next-prev-back-wrapper row">
  <div class="col-md-4 nav-link">
		<% unless prev[:path].empty? %>
			<%= link_to eval(prev[:path]) do %>
				<span class="pagination-arrows prev-work"></span>
				<%= prev[:title] %>
			<% end %>
		<% end %>
  </div>
  <div class="col-md-4 nav-link text-center">
  </div>
  <div class="col-md-4 nav-link text-right">
		<% unless next_w[:path].empty? %>
			<%= link_to eval(next_w[:path]) do %>
				<%= next_w[:title] %>
				<span class="pagination-arrows next-work"></span>
			<% end %>
		<% end %>
  </div>
</div><!-- next-prev-wrapper -->
