<%= render partial: 'about/pagination',
  locals: { prev: { title: 'Fakta', path: 'facts_path()'},
            next_w: { title: 'Tidslinje', path: 'tidslinje_path()'} } %>
<h2 class="py-4 text-center">Artikler</h2>
<div class="row">
   <%= render partial: "pdf_categories/pdf", collection: @artikler %>
</div>
