<% content_for :padding_top_container, "false" %>
<%= render partial: 'about/pagination',
  locals: { prev: { title: 'Fakta', path: 'facts_path()'},
            next_w: { title: 'Tidslinje', path: 'tidslinje_path()'} } %>
<h2 class="py-4 text-center">Artikler af andre forfattere</h2>
<div class="row pb-4">
   <%= render partial: "pdf_categories/pdf", collection: @artikler_dansk %>
</div>
<h2 class="py-4 text-center">På andre sprog</h2>
<div class="row pb-4">
   <%= render partial: "pdf_categories/pdf", collection: @artikler_udenlandsk %>
</div>
