<%= render partial: 'about/pagination',
  locals: { prev: { title: 'Håndtegninger', path: 'haandtegninger_path()'},
            next_w: { title: 'Livet i tre huse', path: 'tre_huse_path()' } } %>
<h2 class="py4 text-center">Fotos</h2>
