<%= render partial: 'about/pagination',
  locals: { prev: { title: 'Tidslinje', path: 'tidslinje_path()'},
            next_w: { title: 'Fotos', path: 'fotos_path()'} } %>
<h2 class="text-center">Håndtegninger </h2>
