<h1 class="text-center pt-4">Om</h1>

<div class="iframe-wrapper videoes">
  <h2>Et godt kvarter</h2>
  <a href="https://www.danskkulturarv.dk/dr/et-godt-kvarter/" target="_blank">Gå til visning på DR's hjemmeside</a>
</div>
<hr>
<div class="iframe-wrapper videoes">
  <h2>Exners hemmelighed</h2>
  <a href="https://www.tv2ostjylland.dk/andre-programmer/exners-hemmelighed?autoplay=1#player" target="_blank">Gå til visning på TV2 Østjyllands hjemmeside</a>
</div>
<hr>
<div class="iframe-wrapper videoes">
  <h2>Exners house</h2>
    <iframe class=" float-left"
            src="https://www.youtube.com/embed/BKuFxf0EY-k?rel=0&amp;showinfo=0"
            frameborder="0"
            allowfullscreen="allowfullscreen"
            mozallowfullscreen="mozallowfullscreen" 
            msallowfullscreen="msallowfullscreen" 
            oallowfullscreen="oallowfullscreen" 
            webkitallowfullscreen="webkitallowfullscreen"
            >
    </iframe>
</div>
<div class="iframe-wrapper videoes">
  <h2>Om eget hus i Skodsborg</h2>
    <iframe class=" float-left"
            src="https://www.youtube.com/embed/iBlEcbDMYKQ?rel=0&amp;showinfo=0"
            frameborder="0"
            allowfullscreen="allowfullscreen"
            mozallowfullscreen="mozallowfullscreen" 
            msallowfullscreen="msallowfullscreen" 
            oallowfullscreen="oallowfullscreen" 
            webkitallowfullscreen="webkitallowfullscreen"
            >
    </iframe>
</div>
