<h1 class="text-center pt-4">Om</h1>

<p>
  <%= link_to "Videoer", videos_path() %>
</p>

<% if @fact.nil? %>
  <p>
    <%= link_to "Opret 'Fakta om Inger og Johannes Exner'", new_fact_path() %>
  </p>
<% else %>
  <p>
    <%= link_to @fact.title, fact_path(@fact.id) %>
  </p>
<% end %>

