<h1 class="text-center pt-4">Om</h1>


<% if @fact.nil? %>
  <p> <%= link_to "Opret 'Fakta om Inger og Johannes Exner'", new_fact_path() %> </p>
<% else %>
  <h3>1. <%= link_to @fact.title, fact_path(@fact.id) %> </h3>
<% end %>

<h3>2. <%= link_to "Artikler", artikler_path() %> </h3>

<h3> 3. Tidslinje </h3>

<h3>
  4. Håndtegninger
</h3>

<h3> 5. Fotos </h3>

<h3> 6. Livet i tre huse </h3>

<h3> 7. <%= link_to "Videoer", videos_path() %>  </h3>
