<%= render partial: 'about/pagination',
  locals: { prev: { title: 'Artikler', path: 'artikler_path()'},
            next_w: { title: 'Håndtegninger', path: 'haandtegninger_path()'} } %>

<h2 class="text-center">Tidslinje</h2>
<small>Glæder mig til billede</small>
