<%= render partial: 'about/pagination',
  locals: { prev: { title: 'Fotos', path: 'fotos_path()'},
            next_w: { title: 'Videoer', path: 'videos_path()'} } %>
<h2 class="py4 text-center">Livet i de tre huse</h2>
