@import 'imports/mixins';
@import 'imports/font_calls';
@import 'imports/colors';
/* OM FORSIDE */
.image-responsive {
}
.om-head {
  padding-bottom: 0px!important;
  font-size: 20px;
  margin-bottom: 0!important;
}

.om-box {
  line-height: 20px;
  overflow: hidden;
  padding-right: 0!important;
  padding-left: 0!important;
  padding-bottom: 0!important;
  border: 15px solid white;
  border-bottom: 0px solid white;
}

/* OM FORSIDE */
.facts p {
  width: 60%;
  min-width: 400px;
  margin: 0 auto;
}
.to-top {
  @include transition(opacity .6s ease-in);
  background-image: url(image-path("arrow-top"));
  cursor: pointer;
  left: 10px;
  top: 96%;
  margin-top: -75px;
  height: 100px;
  opacity: 0;
  width: 100px;
  text-align: center;
  position: fixed;
  z-index: 9999;
}
/* SKAL FJERNES PÅ MOBIL !*/
.to-top-show {
  opacity: 1;
  &:hover {
    opacity: 0.6;
  }
  &:hover .to-top-text {
    opacity: 1;
  }
}
.to-top-text {
  @include transition(opacity .4s linear);
  font-family: Corbel;
  letter-spacing: 2px;
  text-transform: uppercase;
  opacity: 0;
  font-size: 12.8px;
  text-align: center;
}
.time-line-image {
  @include transition(opacity 1.6s ease-out);
  width: 100%;
  opacity: 0;
  margin: 0 auto;
  min-height: 300px;
  overflow: hidden;
}

.time-line-image-show {
  opacity: 1;
}

