/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require works
 *= require frontpage
 *= require static_pages
 *= require categories
 *= require pdf_categories
 *= require videoes
 *= require about
 *= require font-awesome
 *= require cookies_eu
 *= require dragula.min
 *= require_self
 */

@import "bootstrap";
@import 'imports/font_calls';  // Corbel, LinLibertine, Linux Libertine C
@import 'imports/mixins';
@import 'imports/leaflet';
@import 'imports/mobile';
@import 'imports/custom_cookie_design';

.container-yield {
  min-height: 500px;
}
.container-p-top {
  padding-top: 34px;
}

.no-padding-x {
	// padding-left: 0px!important;
	// padding-right: 0px!important;
}

/* Tinymce */
.MsoNormal a {
	text-decoration: underline;
}

.menu-button {
	@include flex-grow(1);
	cursor: pointer;
	text-align: left;
	padding: 0.5rem 1rem;
	display: block;
	font-family: Corbel;
	letter-spacing: 2px;
	line-height: 55px;
	text-transform: uppercase;
	float: left;
	color: black;
	width: 75px;
  &:hover {
	text-decoration: underline;
	}
}
.hide-it {
  display: none; 
}
.container.work-wrapper {
  padding: 0;
  max-width: 1300px;
  width: 100%;
}
.no-images {
  font-family: "LinLibertine";
  margin: 0 auto;
}

.devise-layout {
  margin-top: 6%;
}

.masthead-overskrift {
  font-family: LinLibertine;
}
.masthead-overskrift-ark {
  font-family: LinLibertine;
  font-size: 1.8em;
}
.nav-container {
  min-width: 100%;
}
.blog-nav-dropdown {
  @include no-padding-left-right;
  overflow: hidden;
}
.blog-masthead.admin-nav {
  background-color: gray;
  padding: 10px;
  color: white;
}
/* MENU */
.menu-center li{
  display: inline-block;
}

/* FORSIDE */
