/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require works
 *= require frontpage
 *= require static_pages
 *= require categories
 *= require pdf_categories
 *= require pdfs
 *= require font-awesome
 *= require_self
 */
@import "bootstrap";
@import 'font_calls';  // Corbel, LinLibertine, Linux Libertine C

p {

  font-family: "LinLibertine";
}

h1,h2,h3,h4,h5,h6 {
  font-family: Corbel; 
  letter-spacing: 2px;
}
.hide-it {
  display: none; 
}
.container.work-wrapper {
  padding: 0;
  max-width: 1300px;
  width: 100%;
}
.no-images {
  font-family: "LinLibertine";
  margin: 0 auto;
}

.devise-layout {
  margin-top: 6%;
}

/* Navbar overwriting bootstrap default */
a {
  color: black;
  &:hover {
    color: black;
  }
}

.nav-link:hover {
  text-decoration: underline;
}

.masthead-overskrift {
  font-family: LinLibertine;
}
.masthead-overskrift-ark {
  font-family: LinLibertine;
  font-size: 1.8em;
}
.nav-container {
  min-width: 100%;
}
.blog-nav-dropdown {
  overflow: hidden;
}
.blog-masthead.admin-nav {
  background-color: gray;
  padding: 10px;
  color: white;
}
/* *** KUN TIL FORSIDE ***** */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/* MENU */
.menu-center li{
  display: inline-block;
}

/* FORSIDE */
.indexwrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.indexbackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background: image-url("inger-og-johannes-exner.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.indexareatext {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: transparent;
  color: white;
}

.left {
  float: left;
  align-items: stretch;
}

.leftindex { 
  width: 40%;
  h4 {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 2.8rem;
  }
}


.rightindex { 
  width: 7%;
  .button {
    position: relative;
    height: 0;
    width: 0; 
    padding: 0;
    border-left: 40px solid white;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    background: transparent;
    opacity: 1;
    @include transition(opacity 1.4s);
    &:hover {
      opacity: 0.6;
    }
  }

}

.kunpaamobilskaerm {
  display: none;
}
@media screen and (max-width: 1024px) {

  .indexwrapper {
    overflow: scroll;
  }
  .indexbackground {
    position: relative;
    height: auto;
    padding-bottom: 84%;
    background-position: 70% 50%;
  }
  .indexareatext {
    position: relative;
    color: black;
    display: block;
    top: 0;
    text-align: center;
    h4 { margin-top: 10px;}
  }
  .left {
    float: none;
    align-items: none;
  }
  .leftindex, .middleindex, .rightindex {
    width: 100%;
  }
  .rightindex .button {
    top: 0;
    margin-top: 0;
    box-sizing: border-box;
    width: 100%;
    border: 0;
  }
  .kunpaamobilskaerm {
    display: block;
    font-size: 1.2rem;
    padding: 20px;
    background: #383838;
    color: white;
  }

}

