@font-face {
	font-family: 'Linux Libertine C';
	src: url('LinLibertineC.eot');
	src: url('LinLibertineC.eot?#iefix') format('embedded-opentype'),
		url('LinLibertineC.woff') format('woff'),
		url('LinLibertineC.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Corbel';
	src: url('Corbel.eot');
	src: url('Corbel.eot?#iefix') format('embedded-opentype'),
		url('Corbel.woff') format('woff'),
		url('Corbel.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'LinLibertine';
	src: url('LinLibertine.eot');
	src: url('LinLibertine.eot?#iefix') format('embedded-opentype'),
		url('LinLibertine.woff') format('woff'),
		url('LinLibertine.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
