@import 'imports/mixins';
// Place all the styles related to the pdf_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fixme {
	z-index: 999999;
}
.pdf-row {
	padding-right: 0!important;
}
.pdf-works {
  position: fixed;
}

.andres-tekster {
	margin-top: 45px;
}
.active {
	text-decoration: underline;
}
.remove-margin {
	margin-right: 0px!important;
	margin-left: 0px!important;
}
.hide-it {
	display: none;
}
.pdf-udgivet {
  font-family: Corbel;
}
#pdfWrapper {
	padding-left: 0px!important;
}
.pdf-cat-inner {
  width: 100%;
  display: block;
	.nav-link {
		padding-left: 0px!important;
	}
}

.pdf {
    font-family: Corbel;
    text-align: center;
    box-sizing: border-box;
    border: 10px solid white;
    padding-top: 10px;
    padding-bottom: 10px;
    a {
        .img-wrapper {
          @include flex;
          @include justify-content(center);
          @include align-items(center);
					min-height: 263px;
					padding-bottom: 12%;
            img {
              margin: 0 auto;
            }
        }
    	h4 {
    		vertical-align: middle;
    		min-height: 100px;
    		padding: 10px 25px;
			letter-spacing: 1px;
    		font-family: LinLibertine;
    		color: black; 
    	}
    }
}
