// Place all the styles related to the pdf_categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pdf-cat {
	border: 1px solid black;
}

.pdf-works {
	padding: 40px;
}


.active {
	text-decoration: underline;
}
