/* ONLY FOR THE PDF#SHOW VIEW */
@import 'bootstrap';
@import 'imports/font_calls';
@import 'imports/mixins';
@import 'imports/mixins';
@import 'imports/arrows';

body, html {
	height: 100%;
	width: 100%;
}
.remove-margin {
	margin-left: 0px!important;
	margin-right: 0px!important;
}

.pdf-container {
	height: 100%;
}
#viewFind {
	display: none;
}
.pdf-iframe {
	width: 100%;
	height: 100%;
}
.pdf-cat-headline {
  text-transform: uppercase;
  padding-left: 63px!important;
  font-size: 18px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Corbel; 
	letter-spacing: 1px;
}
.pdf-not-shown {
  background-color: lighten(gray, 10%);
}
.nav-link {
  font-size: 0.8em;
  font-family: Corbel;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.pdf-navigation {
	font-family: Corbel;
}

.pdf-cat-container {
  overflow: hidden;
  position: relative;
  float: left;
  width: 20%;
}
.pdf-title {
  font-family: "LinLibertine";
}
#pdfWrapper {
  padding-left: 0!important;
  padding-right: 0!important;
}
.pdfs-container {
  position: relative;
  float: left;
  width: 80%;
}

	.back-button {
		display: none;
	}

@media screen and (max-width: 768px) {
	.next-prev-back-wrapper { //Pagination under work
		display: none;
	}
	.back-button {
		display: block;
	}
}

