/* ONLY FOR THE PDF#SHOW VIEW */
@import 'bootstrap';
@import 'imports/font_calls';
@import 'imports/mixins';
@import 'imports/mixins';
@import 'imports/arrows';

body, html {
	height: 100%;
	width: 100%;
}

.pdf-container {
	height: 100%;
}
#viewFind {
	display: none;
}
.pdf-iframe {
	width: 100%;
	height: 100%;
}
.pdf-cat-headline {
  text-transform: uppercase;
  padding-left: 63px!important;
  font-size: 18px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Corbel; 
	letter-spacing: 1px;
}
.pdf-not-shown {
  background-color: lighten(gray, 10%);
}
.nav-link {
  font-size: 0.8em;
  font-family: Corbel;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.pdf-navigation {
	font-family: Corbel;
}

.pdf-cat-container {
  overflow: hidden;
  position: relative;
  float: left;
  width: 20%;
}
.pdf-title {
  font-family: "LinLibertine";
}
#pdfWrapper {
  padding-left: 0!important;
  padding-right: 0!important;
}
.pdfs-container {
  position: relative;
  float: left;
  width: 80%;
}


@media screen and (min-width: 768px) {

    .custom-5-col {
        -webkit-box-flex: 0!important;
        -ms-flex: 0 0 20%!important;
        flex: 0 0 20%!important;
        max-width: 20%!important;
    }



}
