// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "jquery-ui";

/* FOR IFRAME */
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

$img-form-color: lighten(#B3E5FC, 10%);

.work-header {
	font-family: LinLibertine;
}

.overview-work-h2 {
	font-family: Corbel;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 0.7em!important;
	letter-spacing: 2px;
}
.overview-img-block {
	min-height: 182px;
}
.work-headline {
	font-family: Corbel;
	text-align: center;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1.7em!important;
	letter-spacing: 2px;
	margin-top: 20px;
}

span.without-overview-text {
	height: 100%;
	border: 1px dotted black;
	margin: auto 0;
	top: 69px;
	position: relative;
}

.without-overview-img {
	min-height: 166px;
	width: 100%;
	display: block;
	text-align: center;
}

.blog-nav {
	margin-top: -8px;
}
/* MIDLERTIDIGT */
.thumbnaildiv {
	max-width: 16.3% !important;
	cursor: pointer;
	&:hover {
		opacity: 0.6;
	}
}
nav.nav.blog-nav {
	max-width: 1300px;
	margin: 0 auto;
}

#largeImage {
	max-height: 850px;
}

.image-draft {
	background-color: lighten(red, 20%)!important;
}
/* MIDLERTIDIGT */
.hide-it {
	display: none;
}

.thumbnail-container {
	width: 100%; 
}
.thumbnaildiv {
	padding: 0!important;
	margin-top: 3px; 
	border: 3px solid white; 
}

.work-row {
	margin-bottom: 35px; 
}
.billede-upload-box {
	padding: 25px;
	-webkit-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: white;
	border: 5px solid $img-form-color;
}

.col-lg-12.hide-it.info-field-work {
	display: none;
}


.info-kort h2 {
	margin-top: 10px;
	text-decoration: underline; 
	font-family: Corbel;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 1em!important;
	letter-spacing: 2px;
}

.info-kort p, .info-beskrivelse p {
	font-family: Corbel;
}

.info-kort {
	font-family: Corbel;
	width: 34%;
	float: left;
}

.info-beskrivelse {
	float: left;
	width: 64%;
	margin-left: 20px;	
	padding-top: 56px;
}
.billede-upload {
	display: block;
}

.image-cat-form-field {
	position: relative;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 25px;
	background-color: $img-form-color;
	margin-bottom: 30px;

}

.work-file-field {
	width: 190px; 
	font-size: 12px;
	letter-spacing: -1px;
}

.billede-upload-felt {
	padding: 0px!important;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  margin: 0 auto; 
  display: flex;
  align-items: center;
}

.nav-thumbnail-con .work-navbar {
	height: 30px;
	position: relative;
	margin-top: 10px;
}
.nav-thumbnail-con .work-navbar .nav-link:first-child {
	margin-left: 20px!important;
}

.nav-thumbnail-con .nav-link {
		font-size: 0.8em;
		font-family: Corbel;
		letter-spacing: 2px;
		text-transform: uppercase;
		cursor: pointer;
}

img.overview-img {
	display: block;
	margin: 0 auto;
	max-width: 100%; 
}
.col-md-3.overview-work {
	margin: 0;
	margin-bottom: 20px;
	margin-top: 5px;
}
.info-button-active {
	text-decoration: underline;
}
.info-button {
	left: 0;
	
	font-size: 0.8em;
	font-family: Corbel;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color: lighten(black, 75%);
	color: white;
	cursor: pointer;
	padding: 0.5rem 1rem;
	margin-right: 15px;
	#InfoTriangle {
		position: absolute;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
		border-bottom: 17px solid black;
		width: 0;
		height: 0;
		right: 0;
		top: 12px;
		margin-right: -13px;
		transform: rotate(0deg);
	}
	&:hover {
		text-decoration: underline;
	}
}

.info-field-work {
	display: block;
	position: absolute;
	bottom: 0;
	background-color: white;
	width: 100%;
}


.work-navbar .active {
	text-decoration: underline;

}

.img-cat-remove {
	position: absolute;
	right: 0;
	top: 0;
}

.img-cat-name-input {
	text-align: center;
}

