// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.background-color-light-blue {
	border: dotted 2px gray;
}

$graybackground: lighten(gray, 39%);

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}


// For at fjerne en del af formen, som man så kan bruge
.form-hided {
	display: none;
}

.top-bar, .top-bar ul {
	background-color: white;
	padding-top:1px;
}
.top-bar {
	border-top: 1px solid lighten(#333, 40%);
	ul {
		max-width: 1200px;
		margin: 0 auto;
		li {
			a {
				padding: 0 13px;
			}
			&:first-child a, &:last-child a {
				padding-left: 0;
			}
		}
	}

}

.top-bar-zoom {
	border-top: 0px solid black;
}
.top-bar ul li {
	background: none!important;
	border-bottom: 1px solid transparent;
	margin-top: 0;
	font-weight: 300;
	@include transition(all 0.6s);
	&:hover {
			// margin-top: -1px;
			color: black;
		}
		a {

			text-transform: uppercase;
			padding-top: 2px;
			padding-bottom: 4px;
			color: #333;
			font-size: 0.8rem;
			&:hover {
				text-decoration: underline;
			}
		}
		&:first-child {
			border-left: 1px solid transparent;
		}
	}
	.top-bar-work {
		.top-bar{
			position: relative;
			background-color: white!important;
			padding: 0;

			h2 {
				width: auto;
				margin-bottom: 0;
				margin-top: 10px;
			}

			.button {
				margin-top: 14px;
				margin-bottom: 0px;
			}
		}
	}

/* headline */
span.underline {
	width: 140px;
	position: absolute;
	height: 2px;
	bottom: 8px;
	background: #333;
}


/* LINK TIL CENTERING UNKNOWN https://css-tricks.com/centering-in-the-unknown/ */
.workimagelarge {
	position: relative;
	
	height: 900px;
	display: flex;
	justify-content: center;
	align-items: center;
	white-space: nowrap;
	margin: 0;
  	.large-image-work {
  		width: auto;
  		text-align: center;
  		max-height: 900px;
  	}
  }


  .kategory-knap, .information-work-button {
  	outline: none;
  	text-align: center;
  	color: #333;
  	font-weight: 300;
  	cursor: pointer;
  }
  .kategory-nav {
  	background: white;
	// box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.56);
	border: none;
	border-top: 1px solid lighten(#333, 40%);
	margin-bottom: 15px;
	padding: 0;
	.aktiv {
		text-decoration: underline;
	}
	.button {
		padding-top: 10px;
		padding-bottom: 5px;
		font-size: 0.9rem;
		
		background: none!important;
		&:hover {
			text-decoration: underline;
		}
	}
}
.information-work-button {
	border: 1px solid #303030;
}

#information-work { display: none; /* JQUERY SLÅR DEN TIL IGEN! */}

.informations-box {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 100%;
    /* right: 4px; */
    /* width: 300px; */
    padding: 10px;
    background-color: white;
    border: 1px solid #424242;
}

.info-left {
    width: 33%;
    min-width: 393px;
}

.info-right {
	width: 65%;
	padding-right: 20px;
}


.thumbnaildiv {
	cursor: pointer;
	box-sizing: border-box;
	border: 16px solid white;
}
.workthumbnail {
	box-sizing: border-box;
	border: 2px solid white;
	width: 100%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
	object-fit: cover;
	opacity: 1;
	@include transition(opacity 0.6s);
	&:hover {
		opacity: 0.6;
	}


}
.zoomLens { border: 1px solid black !important; }

.thumbnail-container {
	display: none;
}
.thumbnail-container:first-child {
	display: block;
}

/* works oversigt */
.uden-billede-work {
	padding: 21.5% 5%;
	text-align: center;
}

.sagsnr-works {
	margin-bottom: 0;
	height: 25px; 
	font-family: "Times New Roman";
}

.works-oversigt {
	max-height: 200px;
}

.works-oversigt-box {
	height: 280px;
}

.table-navbar {
	table-layout: fixed;
}
.thumbnailwrapper {
    overflow: hidden;
    min-height: 500px;
}

.rediger-vaerk {
	background-color: lightblue;
	padding: 10px;
}



/* Form */
textarea#work_description {
	height: 300px;
}

// .image-box {
// 	height: 350px; 
// 	min-height: 350px;
// }