// Place all the styles related to the works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

$img-form-color: lighten(#B3E5FC, 10%);

.billede-upload-box {
	padding: 25px;
	-webkit-border-radius: 15px;
	-webkit-border-radius: 15px;
	background-color: white;
	border: 5px solid $img-form-color;
}

.billede-upload {
	display: block;
}

.image-cat-form-field {
	border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 25px;
	background-color: $img-form-color;

}