<div class="row">

<% @categories.each do |cat| %>
		<div class="col-lg-4 text-center">	
	<%= link_to works_path(cat.name.parameterize) do %>	
		<%= image_tag cat.image unless cat.image.file.nil? %> 
		<h2 class="work-headline"><%= cat.name %></h2>
	<% end %>
		</div>
<% end %>
</div>