<div class="row">
<%= render partial: "design_nav", locals: {categories: @categories} %>

<div class="design-cat">
	<%= render partial: 'works', locals: { works: @works, category: @category } %>	
</div>
</div>